* {
  margin: 0;
  padding: 0;
}
.Main {
  display: flex;
  font-family: "Manrope", sans-serif;
  flex-direction: column;
  width: 500px;
  background-color: indianred;
  align-items: center;
  margin-top: 250px;
  margin-left: 250px;
  border-radius: 16px;
}
body {
  background-color: black;
}
